<mat-accordion id="full-accordian">
    <mat-expansion-panel 
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    [disabled]="places.length==0"
    >
    <mat-expansion-panel-header>
    <mat-panel-title>
       {{!isLoadingPlaces && places.length >0 ? 'Show' : 'Search'}}
      </mat-panel-title>
      <mat-panel-description>
       {{places.length}} Events
      </mat-panel-description>
    </mat-expansion-panel-header>
<mat-selection-list class="list-group mt-2" *ngIf="places.length > 0" [multiple]="false">

    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let place of places" class="example-item"
    (click)="flyTo(place)"
    >
    <div class="scroll-item">
    <div mat-line>
        <h4>{{place.name}}</h4>
        {{place.date}} - {{place.startTime}}
    </div>
    <img [src]="place.img" alt=""> 
    <p>{{place.type}}</p>
    <mat-divider></mat-divider>
  
</div>
</div>
</cdk-virtual-scroll-viewport>
 <!--
    <mat-list-option class="event-option" *ngFor="let place of places" 
    [class.active]="place.id === selectedId"
    (click)="flyTo(place)"
    >
        <div mat-line>{{place.name}}</div>
        <div mat-line>{{place.date}}</div>
        <!-- <img [src]="place.img" alt="">
    </mat-list-option>
     -->
</mat-selection-list>
</mat-expansion-panel>
</mat-accordion>
