
.example-viewport {
    height: 325px;
    width: 250px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 240px;
  }

  img{
    max-height:100px;
    margin: .5rem;
  }

 .scroll-item{
    height: 220px;
  }

  h4{
    color: #DE739F;
  }