<div class="limiter">
    <!-- https://media.istockphoto.com/vectors/retro-future-abstract-vector-pattern-vector-id1208815143?s=2048x2048 -->

    <!-- https://media.istockphoto.com/vectors/big-set-of-different-colored-vector-illustrations-in-cartoon-flat-vector-id1337311928?s=2048x2048 -->
    
    <div class="container-login100" style="background-image: url('https://media.istockphoto.com/vectors/retro-future-abstract-vector-pattern-vector-id1208815143?s=2048x2048');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      
   <router-outlet></router-outlet> 
        </div>
    </div>
</div>
