<div id="dialog-add-note">
  <h1 mat-dialog-title>Edit Note - {{data.event.name}}</h1>
 
  <div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
    <mat-form-field  class="example-full-width">
      <mat-label>Type your Note Here</mat-label>
      <textarea matInput [(ngModel)]="newNote" type="text" (ngModelChange)="newNote = $event" placeholder="{{data.event.note}}"  [value]="initialNote"></textarea>
    </mat-form-field>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
    <button mat-raised-button (click)="editEvent()" color="warn">EDIT NOTE</button>
    <button mat-stroked-button color="info" mat-dialog-close (click)="closeDialog()">X</button>
    </div>
    </div>
  </div>

</div>