<mat-card >
    <mat-card-header>
        <mat-card-title>{{event.name}}</mat-card-title>
       
        <mat-card-subtitle> <mat-icon mat-list-icon>location_on</mat-icon> {{event.venue}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="event.img">
    <mat-card-content>
        <h5>{{event.min | number: '1.2-2'}} - {{event.max | number: '1.2-2'}} {{event.currency}}</h5>
        <div fxLayout="row" fxFill class="full-time-container">
            <div class="date-container">
                <h5>{{event.date}}</h5>
            </div>
            <div class="time-container"><h5> {{event.startTime}}</h5></div>
        </div>
        <!-- <p>
            <strong>First Appearance</strong> {{heroe.first_appearance}}
            <br>
            <strong>Characters: </strong>{{heroe.characters}}
        </p> -->
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button
        color="warn"
        [routerLink]="['/home/' , event.id]"
        ><mat-icon>info</mat-icon></button>
        <button mat-icon-button 
        color="info"
        matTooltip="Add to my events" 
        ><mat-icon>edit</mat-icon></button>
        <button mat-icon-button 
        color="info"
        matTooltip="Delete event"
        color="warn" 
        ><mat-icon>delete</mat-icon></button>
        <mat-divider></mat-divider>
        <br>
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="avatar-img" src="./assets/man-avatar-1.svg" alt="">
            <img class="avatar-img" src="./assets/woman-avatar-1.svg" alt="">
            <img class="avatar-img" src="./assets/man-avatar-2.svg" alt="">
            
        <small>45 friends are going</small>
        </div>
    </mat-card-actions>
</mat-card>
