<mat-card >
    <img class="cover-img" mat-card-image [src]="event.img">
    <mat-card-header>
        <mat-card-title>{{event.name}}</mat-card-title>
       
        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center"> <mat-icon mat-list-icon>location_on</mat-icon> {{event.venue && event.venue.length >22 ? (event.venue | slice:0:22)+'..':(event.venue)  }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h5>Starts at {{event.min | number: '1.2-2'}} {{event.currency}}</h5>
        <div fxLayout="row" fxFill class="full-time-container">
            <div 
            fxLayoutAlign="center center"
            class="date-container">
                <h5>{{event.date | date:'MMM.dd.yy'}}</h5>
            </div>
            <div class="time-container"><h5> {{event.startTime | slice:0:5}}</h5></div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button
        color="warn"
        [routerLink]="['/home/' , event.id]"
        ><mat-icon>info</mat-icon></button>
        <button mat-icon-button 
        color="warn"
        (click)="openDialog()"
        matTooltip="Edit event note" 
        ><mat-icon>edit</mat-icon></button>

        <button 
        mat-icon-button 
        color="info"
        matTooltip="Delete event"
        color="warn" 
        (click)="deleteEvent()"
        ><mat-icon>delete</mat-icon></button>

        <mat-divider></mat-divider>
        <br>
        <div fxLayout="row" fxLayoutAlign="start center">
            <img class="avatar-img" src="./assets/man-avatar-1.svg" alt="">
            <img class="avatar-img" src="./assets/woman-avatar-1.svg" alt="">
            <img class="avatar-img" src="./assets/man-avatar-2.svg" alt="">
            
        <small>45 friends are going</small>
        </div>
        <br>
        <p class="note">{{addednote? (newNote | slice:0:80) : (event.note | slice:0:80)}} </p>
    </mat-card-actions>
</mat-card>
