<h2>Featured Events in {{currentCity}}

    <mat-form-field appearance="fill">
        <input 
        matInput 
        placeholder="London.." 
        #txtQuery
        (keyup)="onQueryChange(txtQuery.value)"
        class="form-control"
        [value]="currentCity">
        
      </mat-form-field>

</h2>
<mat-divider></mat-divider>
<br>

<app-loading *ngIf="!isUserLocationReady; else mapReady"></app-loading>

<ng-template #mapReady>
<div class="container">
    <div fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="1.2rem"
    >
        <div fxFlex="20"
            fxFlex.lg="15"
            fxFlex.sm="30"
        *ngFor="let featuredEvent of featuredEvents">
        <app-featured-card [featuredEvent]="featuredEvent" ></app-featured-card>
        </div>
    </div>
</div>
</ng-template>