mat-form-field {
    min-width: 50%;
    max-height:20%;
}

.buttom-button {
    padding: 2rem;
}

.section-container {
    max-width:1200px;
    margin: auto;
    padding: 2rem 0;
}

.cards-container {
    margin: 2rem;
}

@media (max-width: 1200px) {
    .section-container {
    margin: 2rem;
}
 }
 