mat-form-field {
    min-width: 33%;
}

.buttom-button {
    padding: 2rem;
}

.section-container {
    max-width:1200px;
    margin: auto;
}

.cards-container {
    margin: 2rem;
}

@media (min-width: 992px) {
    .section-container {
    margin: auto;
}
 }