<div class="container">
    <h2>Featured Events in
        <mat-form-field appearance="fill">
            <input
            type="text"
            placeholder="Type In a city.."
            matInput
            aria-label="Find Hero"
            #txtQuery
            [(ngModel)]="term"
            [matAutocomplete]="auto"
            (input)="finding(txtQuery.value)"
            [value]="currentCity"
            >
    
            <mat-autocomplete
            autoActiveFirstOption
            (optionSelected)="optionSelected( $event)"
            #auto="matAutocomplete">
                <mat-option *ngFor="let place of places" [value]="place">
                  {{place.place_name
                  }}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    
    </h2>
</div>
<mat-divider></mat-divider>
<br>

<app-loading *ngIf="!isUserLocationReady; else mapReady"></app-loading>

<ng-template #mapReady>
<div class="container">
    <div fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="1.2rem grid"
    *ngIf="isDataLoaded"  
    >
        <div fxFlex="20"
            fxFlex.lg="15"
            fxFlex.sm="30"
             
        *ngFor="let featuredEvent of featuredEvents">
        <app-featured-card [featuredEvent]="featuredEvent" ></app-featured-card>
        </div>
    </div>
    <div class="buttom-button" fxLayout="row" fxLayoutAlign="center center" >
        <button mat-stroked-button color="primary">LOAD MORE EVENTS</button>
    </div>
</div>
</ng-template>