mat-form-field {
    min-width: 50%;
    max-height:20%;
}

.featured {
    background-image: url('../../../../assets/featured-background2.svg');
    background-repeat: repeat repeat;
//     -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;
}


.buttom-button {
    padding: 2rem;
}

.section-container {
    max-width:1200px;
    margin: auto;
    padding: 2rem 0;
}

.cards-container {
    margin: 2rem;
}

@media (max-width: 1200px) {
    .section-container {
    margin: 2rem;
}
 }


 @media (max-width: 960px) {

    mat-form-field {
        min-width: 80%;
        max-height:10%;
    }
 }

 @media (max-width: 750px) {

    mat-form-field {
        min-width: 100%;
        max-height:10%;
    }
 }
 