// .map-container {
//     height:100%;
//     width:100%;
// }

#map {
    height:90vh;
    width:100%;
    background:#f5f5f5;
}

.map-full {
    //background-color: #F5DF56;
    margin-top: 2rem;
    position:relative;
}

h2 {
    margin: 2rem;
}