<div class="map-full">
    <h2>Your Map</h2>
    <mat-divider></mat-divider>
    <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
    <br>
    <div id="map">
      <app-search-bar></app-search-bar>
      <app-btn-my-location></app-btn-my-location>
      <app-events-list></app-events-list>
    </div>
    
</div>
