<button id="events-icon"  *ngIf="!showEvents; else elseBlock"

mat-fab color="accent" 
aria-label="Example icon button with a bookmark icon"
[matBadge]="mapEvents.length"
matBadgeColor="warn"
(click)="toggleEvents()"
>
    <mat-icon>event_note</mat-icon>
  </button>

  <ng-template #elseBlock>
    <div class="search-container">
     <div class="close-button-container"
     fxLayout="row" fxLayoutAlign="space-between center"
     >
     <p>Events in Barcelona</p>
       <button
       mat-button
       (click)="toggleEvents()">X</button>
     </div>
   
        <app-events-panels></app-events-panels>
   </div> 
   </ng-template>
