<div class="full-calendar-container">
  <h2 class="section-title calendar-title">MY EVENTS CALENDAR</h2>
  <div class="calendar-container">
    <div class="calendar-content"  
    fxLayout="row"
    fxLayout.xs="column" 
    fxLayoutAlign="space-around start"
    fxLayoutAlign.xs="space-around center"
     fxLayoutGap="1.2rem">
      <div fxFlex="60" fxFlex.xs="100">
        <mat-card class="calendar-card">
            <mat-calendar [(selected)]="selected" [dateClass]="dateClass" >
            </mat-calendar>
  
          </mat-card>
  
  
      </div>
        <div fxFlex="40" fxFlex.xs="100">
          <mat-card class="side-card">
            <p>Selected date: {{selected | date}}</p>
            <mat-divider></mat-divider>
          <div *ngIf="selected && filterEvent(selected).length>0; else elseBlock">
            <div  *ngFor="let event of filterEvent(selected)">
              <img class="calendar-img" [src]="event.img" alt="event-image">
            <h2>{{event.name}}</h2>
            <h3 fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-display" mat-list-icon>access_time</mat-icon> {{event.startTime | slice:0:5}}</h3>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center"><mat-icon class="icon-display" mat-list-icon>location_on</mat-icon> {{event.venue && event.venue.length >22 ? (event.venue | slice:0:22)+'..':(event.venue)  }}</mat-card-subtitle>
          </div>
          </div>
        </mat-card>
          <ng-template #elseBlock>No Events on that Date</ng-template>
        </div>
  
    </div>
  </div>
</div>
