button.example-custom-date-class {
    background: #FF8BC8;
    border-radius: 100%;
  }
  

  .full-calendar-container {
    margin-top: 4rem;

    background-image: url('../../../assets/calendar-bg.svg');
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height:100vh;

  }

  .calendar-title {
    text-align:center;
   padding-top:4rem;
}

.calendar-content {
  max-width:1200px;
  margin: auto;

}

.calendar-container {
  max-height: 80vh;
}

.calendar-img {
  max-width: 90%;
  margin-top:1rem;
}

.icon-display {
  transform: scale(.9);
  margin-right:1rem;
}

.side-card{
  min-height: 60vh;
  background-color:white;
}

@media (max-width: 1200px) { 

  .calendar-content {
    margin: 2rem;
}

 }