button.example-custom-date-class {
    background: #FF8BC8;
    border-radius: 100%;
  }

  .container {
    margin-top: 4rem;
  }

  .calendar-title {
    text-align:center;
   padding-top:4rem;
}

.calendar-content {
  width: 80%;
  margin: auto;
}