.no-maps-container{
    height:80vh;
    width: 100%;
    text-align:center;
}

h2 {
    text-align:center;
    margin-top:2rem;
}

.my-maps-title {
    text-align:center;
   padding-top:4rem;
}

.center-img {
    max-width:35%;
}