<mat-card >
    <mat-card-header>
        <mat-card-title>{{featuredEvent.name}}</mat-card-title>
       
        <mat-card-subtitle> <mat-icon mat-list-icon>location_on</mat-icon> {{featuredEvent.venue}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="featuredEvent.img">
    <mat-card-content>
        <h3>{{featuredEvent.min | number: '1.2-2'}} - {{featuredEvent.max | number: '1.2-2'}} {{featuredEvent.currency}}</h3>
        <div fxLayout="row" fxFill class="full-time-container">
            <div class="date-container">
                <h4>{{featuredEvent.date}}</h4>
            </div>
            <div class="time-container"><h4> {{featuredEvent.startTime}}</h4></div>
        </div>
        <!-- <p>
            <strong>First Appearance</strong> {{heroe.first_appearance}}
            <br>
            <strong>Characters: </strong>{{heroe.characters}}
        </p> -->
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
        color="warn"
        [routerLink]="['/home/' , featuredEvent.id]"
        >Read more...</button>
        <button mat-button 
        color="info"
        (click)="addEvent()"
        matTooltip="Add to my events" 
        ><mat-icon>add_circle_outline</mat-icon></button>
    </mat-card-actions>
</mat-card>

