<mat-card >
    <img mat-card-image [src]="featuredEvent.img">
        <mat-card-title>{{featuredEvent.name.length >54 ? (featuredEvent.name | slice:0:54)+'..':(featuredEvent.name) }}</mat-card-title>  
        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center"><mat-icon mat-list-icon>location_on</mat-icon> {{featuredEvent.venue && featuredEvent.venue.length >22 ? (featuredEvent.venue | slice:0:22)+'..':(featuredEvent.venue)  }}</mat-card-subtitle>
 
    <mat-card-content>
        <h5>Starts at {{featuredEvent.min | number: '1.2-2'}} {{featuredEvent.currency}}</h5>
        <div fxLayout="row" fxFill class="full-time-container">
            <div fxLayoutAlign="center center" class="date-container">
                <h5>{{featuredEvent.date | date:'MMM.dd.yy'}}</h5>
            </div>
            <div class="time-container"><h5> {{featuredEvent.startTime | slice:0:5 }}</h5></div>
        </div>
        <!-- <p>
            <strong>First Appearance</strong> {{heroe.first_appearance}}
            <br>
            <strong>Characters: </strong>{{heroe.characters}}
        </p> -->
    </mat-card-content>

    <mat-card-actions>
        <div fxLayout="row">
            <button mat-button
            color="warn"
            [routerLink]="['/home/' , featuredEvent.id]"
            ><mat-icon>info</mat-icon></button>
            <div *ngIf="isSaved; else notSaved">
                <button mat-button
                color="info"
                matTooltip="Event is already saved"
                ><mat-icon>bookmark</mat-icon></button>
            </div>
            <ng-template #notSaved>
                <button mat-button
                color="info"
                (click)="openDialog()"
                matTooltip="Add to my events"
                ><mat-icon>bookmark_border</mat-icon></button>
            </ng-template>
        </div>
    </mat-card-actions>
</mat-card>

