mat-card {
    background: rgb(140,209,194);
background: linear-gradient(0deg, rgba(140,209,194,1) 58%, rgba(255,139,200,1) 100%);
    margin-top: 1.2rem;
    position:relative;
    min-height: 450px;
}

mat-card-title {
    padding: 1rem 0;
    font-size: 22px;
}

img {
    min-height: 160px;
}

.date-container{
     background-color: #1B1464;
     color:white;
     text-align:center;
     width:50%;
}

.time-container {
    background-color: #FF8BC8;
    color:white;
    text-align:center;
    width:50%;
}

.time-container >h5, .date-container >h5{
    margin:.3rem;
    font-weight:500;
}

.full-time-container {
    max-height: 30px;
    align-items: center;
}



// .mat-card-image {
// //max-height:140px;

// }

mat-card-title {
    margin-top: 1rem;
}
.mat-card-header .mat-card-title {
min-height: 70px;

}



