<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button 
            mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a 
            routerLink="./dashboard/my-events" 
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>label</mat-icon>
                <span>My Events</span>
            </a>

            <a 
            routerLink="./dashboard/my-maps" 
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>map</mat-icon>
                <span>My Maps</span>
            </a>

            <a 
            routerLink="./dashboard/my-calendar" 
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>calendar_today</mat-icon>
                <span>My Calendar</span>
            </a>

            <a 
            routerLink="./find" 
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>search</mat-icon>
                <span>Search Events</span>
            </a>

        </mat-nav-list>
        
    </mat-sidenav>

    <mat-toolbar id="topNav">
        <button 
        mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
            <img src="../assets/logo2.svg" alt="">
            <span>EVENT ZORRO</span>
        </button>

        <span class="spacer"></span>

        <span> {{_user.name ? _user.name : ''}}</span>
        <button 
        mat-button
        routerLink="/home/"
        >
            Home
        </button>

        <button 
        
        mat-button>
            About
        </button>

        <div *ngIf="_user.name; else elseBlock">
            <button 
        (click)="logout()"
        mat-button>
          LogOut
        </button>

        </div>
<ng-template #elseBlock>
    <button 
    routerLink="'/auth/login'"
    mat-button>
       LogIn
    </button>

</ng-template>

    </mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
</mat-sidenav-container>

