#topNav {
    position: fixed;
    z-index: 1000;
}

@media (max-width: 576px) { 
.top-nav-buttons {
    visibility: hidden;
}
 }

 .top-nav-buttons {
    display: flex;
 }

 .sidenav-icon {
    margin-right: 1rem;
 }