<form 
class="login100-form" 
autocomplete="off"
(ngSubmit)="register()"
[formGroup]="myForm"
>
<div class="main-form-content">
                    
   
            <h1>New User</h1>

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                  <input matInput
                  type="text"
                  formControlName="name"
                           placeholder="enter your name">
               </mat-form-field>

               <mat-form-field appearance="fill">
                <mat-label>User Name</mat-label>
                  <input matInput
                  type="text"
                  formControlName="userName"
                           placeholder="enter your user name">
               </mat-form-field>
       
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                  <input matInput
                           type="email"
                           formControlName="email"
                           placeholder="enter your email">
                           <mat-error *ngIf="myForm.value.email.invalid">Email is incorrect</mat-error>
               </mat-form-field>

               <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                  <input matInput
                  type="password"
                  formControlName="password"
                           placeholder="enter your password">
               </mat-form-field>

               <div>
                <div></div>
                <button
                mat-raised-button color="warn"
                class="login100-form-btn"
                [disabled]="myForm.invalid">
                    Register
                </button>
            </div>
               
    
      
    
  
        
        <div class="text-right p-t-8 p-b-31"></div>
        
    
        <div class="flex-col-c p-t-60">
            <span class="txt1 p-b-17">
                Already have an account?
            </span>
    
            <a routerLink="/auth/login" class="txt2">
               Click here
            </a>
        </div>
</div>
</form>
