<div id="main-footer" fxLayout="row" fxLayoutAlign="space-around start"  >
    <!-- <img src="./../../../../assets/header4.png" alt=""> -->
    <div fxLayout="column" fxLayoutAlign="center start"  >
       <div fxLayout="row">
        <img id="main-logo" src="./../../../../assets/logo2.svg" alt="">
           <h3>Event Zorro</h3>
       </div>
       <div fxLayout="row">
        <mat-icon> place</mat-icon><h4>Barcelona, Spain 08001</h4>
       </div>
       <p>Created by Carlos Planchart</p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" >
        <h3> © 2022</h3>
     </div>

     <div fxLayout="row" fxLayoutAlign="center center" >
        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon"
        onclick="window.location.href='https://github.com/cplan85'"
        >
           <img class="icon" src="./../../../../assets/github-icon.svg" alt="">
          </button>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
            <img class="icon" src="./../../../../assets/linkedin-icon.svg" alt="">
          </button>

          <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
            <img class="icon" src="./../../../../assets/instagram-icon.svg" alt="">
          </button>
     </div>
    
    </div>
