#main-footer{
padding-top:4rem;
height: 600px;
background-image: url('./../../../../assets/footerbg.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position:center;
}

.icon {
    height:20px;
}

#main-logo{
    height:50px;
}

button {
    margin-right:2rem;
}

.left-column {
    margin-left: 2rem;
}

.top-row {
    max-width:1200px;
    margin:auto;
}