<div id="main-footer"  >
    <!-- <img src="./../../../../assets/header4.png" alt=""> -->
    <div class="top-row" fxLayout="row" fxLayoutAlign="space-between start">
       <div fxLayout="column"
       class="left-column"
       fxLayoutAlign="center start"  >
         
           <!-- <img id="main-logo" src="./../../../../assets/logo2.svg" alt=""> -->
              <h2 class="section-title">EVENT ZORRO</h2>
          
          <div fxLayout="row">
          <h4>Barcelona, Spain 08001</h4> <mat-icon> place</mat-icon>
          </div>
          <p>Created by Carlos Planchart</p>
       </div>
       <div fxLayout="column" fxLayoutAlign="center center" >
           <h3> © 2022</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" >
           <button mat-icon-button color="primary" aria-label="Example icon button with a filter list icon"
           onclick="window.location.href='https://github.com/cplan85'"
           >
              <img class="icon" src="./../../../../assets/github-icon.svg" alt="">
             </button>
             <button mat-icon-button color="primary" aria-label="Example icon button with a filter list icon">
               <img class="icon" src="./../../../../assets/linkedin-icon.svg" alt="">
             </button>
             <button mat-icon-button color="primary" aria-label="Example icon button with a filter list icon">
               <img class="icon" src="./../../../../assets/instagram-icon.svg" alt="">
             </button>
        </div>
    </div>
    
    </div>
