
.left {
    margin-left:2rem;
}
.right {
    padding: 2rem;
    // background-color: #F3F5E7;
}

.userName {
    text-align:left;
}


.right-content {
    width: 100%;
}

mat-card {
    margin-top: 2rem;
    padding: 2rem;
   width:90%;
}

.example-stretched-tabs {
    max-width: 800px;
  }

.dashboard-container {
    margin: auto;
    margin-top:4rem;

    
}

@media (max-width: 960px) {
    

   #profile-card {
        width: 550px;
    }

    .profile-img {
        max-width: 50%;
        margin:auto;
    }

 }

@media (max-width: 599px) {
    
    .left {
        margin:auto;
    }


   #profile-card {
        width: 250px;
    }

 }