
<div class="container">
    <div 
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="space-around center"
    fxLayoutAlign.xs="space-around center" >
        <div
        class="left"
        fxFlex="20"
        fxFlex.lg="25"
        fxFlex.sm="100"
        fxFlex.md="20"
        fxFlex.xs="95"
        fxLayoutAlign="start center"
         >
         <mat-card id="profile-card">
             <mat-list>
                <h3>Welcome Back</h3>
                <img class="profile-img" src="./assets/man-avatar-2.svg" alt="">
                <h2 class="userName"> {{user.name}}</h2>
                <p> <mat-icon>perm_identity</mat-icon> {{user.userName}}</p>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <b>Email Address</b>
                </mat-list-item>
                <mat-list-item>
                    {{user.email}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </mat-list-item>
                     </mat-list>
         </mat-card>
    </div>
        <div class="right"
        fxFlex="70"
        fxFlex.lg="75"
        fxFlex.sm="100"
        fxFlex.md="75"
        fxFlex.xs="95"
        >
          
                <div class="right-content"
                     >
                     <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="My Events">
                            <app-my-events></app-my-events>
                        </mat-tab>
                        <mat-tab label="My Maps">
                            <app-my-maps></app-my-maps>
                        </mat-tab>
                        <mat-tab label="My Calendar">
                            <app-my-calendar></app-my-calendar>
                        </mat-tab>
                      </mat-tab-group>
                </div>
        </div>
    
    </div>
</div>
