
.left {
    margin: 1rem;
}
.right {
    background-color: rgb(214, 249, 214);
}

.right-content {
    width: 100%;
}

mat-card {
    padding: 2rem;
}

.example-stretched-tabs {
    max-width: 800px;
  }