
.left {
    margin: 0 1rem 1rem 1rem;
}
.right {
    padding: 2rem;
    background-color: #F3F5E7;
}

.right-content {
    width: 100%;
}

mat-card {
    padding: 2rem;
}

.example-stretched-tabs {
    max-width: 800px;
  }