.container {
    max-width:1200px;
    margin: auto;
    padding-top:2rem;

}

.section-container {

    background-image: url('../../../assets/MyEvents-Background3.svg');
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

h2{
    margin-top:2rem;
    text-align: center;
}