.container {
    max-width:1200px;
    margin: auto;
    padding-top:2rem;

}

.no-events-container{
    height:80vh;
    width: 100%;
    text-align:center;
}

.center-img {
    max-width:35%;
}


.my-events-title {
    text-align:center;
   padding-top:4rem;
}

.section-container {

min-height: 100vh;
    background-image: url('../../../assets/MyEvents-Background3.svg');
    background-color: #54B9A4;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

h2{
    margin-top:2rem;
    text-align: center;
}

@media (max-width: 600px) { 

    .container {
      margin: 2rem;
  }
  
   }