/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "Rockville Solid";
  src: url(./assets/fonts/Aemstel-Regular.otf) format("truetype");
  font-weight: bold;
  font-style: italic;
}


html, body { height: 100%; 
  max-width: 100%;
  overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .wrap-login100 {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  .spacer {
    flex: 1 1 auto;
}

.search-marker, .music-marker, .misc-marker, .sports-marker, .arts-marker, .family-marker, .current-music-marker, .current-arts-marker, .current-sports-marker, .current-misc-marker{
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.search-marker {
  background-image: url('./assets/search-marker.svg');
}

.current-music-marker {
  background-image: url('./assets/selected-music-marker.svg');
}

.current-misc-marker {
  background-image: url('./assets/current-misc-marker.svg');
}


.current-arts-marker {
  background-image: url('./assets/current-arts-marker.svg');
}

.current-sports-marker {
  background-image: url('./assets/current-sports-marker.svg');
}

.music-marker {
  background-image: url('./assets/music-marker.svg');

}

.misc-marker {
  background-image: url('./assets/misc-marker.svg');

}

.sports-marker {
  background-image: url('./assets/sports-marker.svg');
}

.arts-marker {
  background-image: url('./assets/arts-marker.svg');
}

.popupImg {
  display:block;
  width:100%;
}

.mat-dialog-container { 
  border-radius: 2rem 0!important; 
  background-color: rgba(82,185,163,0.80)!important;
}

.info-btn, .add-event-btn {
  margin-left:2rem;
  width:100%;
}

.section-title {
  text-align: center;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 42px;
  //font-family: "Rockville Solid", Arial, Helvetica, sans-serif !important;
}