h2 {
  margin: 2rem;
}

.container {
  width: 100%;
}
.keen-slider {
  margin: 2rem;
    
    overflow-x: hidden;
}
.slide {
  background: #F3F5E7;
  padding:2rem;
  min-height: 200px;
  width: 30vw;
}


.avatar-img {
  height:30px;
  margin-right:1rem;
}

.event-img {
  width: 150px;
  padding:0 .5rem .5rem .5rem;
}

@media (max-width: 576px) { 

  .slide {
 
    min-height: 325px;
  }
  
 }
