<h2>Trending Events</h2>
<div class="keen-slider" #sliderRef fxLayout="row" fxLayoutAlign="start center">
    <div 
    *ngFor="let event of popularEvents"
    class="keen-slider__slide slide">
    <div 
    fxLayout.lg="row"
    fxLayout="column" 
    fxLayout.xs="column"
    fxLayoutAlign="start start"
    >
      <img class="event-img" [src]="event.img" alt="">
      <div>
        {{event.name}} - {{event.date}}
        <mat-divider></mat-divider>
        <h5>Interested Friends</h5>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div *ngFor="let friend of event.friends">
            <img 
            class="avatar-img" 
            [matTooltip]="friend.name"
            [src]="friend.img" alt="">
          </div>
        </div>
        <br>
        <h5>All Followers</h5>
        <div fxLayout="row" fxLayoutAlign="start center" >
          <img class="avatar-img" src="./assets/generic-avatar-1.svg" alt="">
        {{event.total_interested | shortNumber}}
        </div>
      </div>
    </div>
</div>
</div>