h2 {
  margin: 2rem;
}
.keen-slider {
  margin: 2rem;
    max-width: 100%;
    overflow-x: hidden;
}
.slide {
  background: #F3F5E7;
  padding:2rem;
  min-height: 200px;
}

.avatar-img {
  height:30px;
  margin-right:1rem;
}

.event-img {
  width: 150px;
  padding:0 .5rem .5rem .5rem;
}
