img {
    width:60%;
    border-radius:3rem;
}

div {
    margin-top: 5rem;
    margin-bottom:2rem;
}

#main-header {
    padding: 220px 0;
background-image: url('./../../../../assets/headerbg.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1 {
    color:white;
}

.lead {
    margin: 2rem 0;
    font-family: "Rockville Solid", Arial, Helvetica, sans-serif;
   // text-shadow: 1vmin 0 0 #fc7dac;
    font-size: 5rem;
    max-width: 70%;
    line-height: 5rem !important;
    text-align: center;
    font-weight: 500;
}